### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [2]:
purchase_data.count()
purchase_data.shape
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [3]:
total_unique_players=purchase_data["SN"].unique()
total_unique_players
Unique_players_df=pd.DataFrame({"Total Players": [len(total_unique_players)]})
Unique_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items=purchase_data["Item Name"].unique()
len(unique_items)
average_price=purchase_data["Price"].mean()
average_price
number_purchases=purchase_data["Item ID"].count()
number_purchases
total_revenue=purchase_data["Price"].sum()
total_revenue
pd.DataFrame({"Number of Unique Items" : [len(unique_items)],"Average Price" : [ str('${:.2f}'.format(average_price))],"Number of Purchases" : [number_purchases],"Total Revenue" : [ str('${:.2f}'.format(total_revenue))]})

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
duplicate_drop= purchase_data.drop_duplicates(["SN"])
duplicate_drop.shape
gender_group_unique = duplicate_drop.groupby(["Gender"])
gender_group_unique.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
66,66,Chanastsda67,21,Female,6,Rusty Skull,3.70
71,71,Hari50,20,Female,29,"Chaos, Ender of the End",1.98
72,72,Marilsa69,25,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
76,76,Mindadaran26,13,Female,88,"Emberling, Defender of Delusions",3.75
81,81,Heudai45,8,Female,174,Primitive Blade,3.47
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39
237,237,Idairin51,20,Other / Non-Disclosed,16,Restored Bauble,3.55
242,242,Eodaisu60,16,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
350,350,Rairith81,15,Other / Non-Disclosed,34,Retribution Axe,2.22
401,401,Lirtim36,15,Other / Non-Disclosed,46,Hopeless Ebon Dualblade,1.33
549,549,Maluncil97,25,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10

In [10]:
gender_demographics= pd.DataFrame()
gender_demographics["Gender"]=gender_group_unique["Gender"].count()
gender_demographics
gender_demographics = gender_demographics.rename(columns={"Gender": "Total Count"}).reset_index()
gender_demographics
gender_demographics["Percentage of Players"]=(gender_demographics["Total Count"]/len(total_unique_players)).map("{:.2%}".format)
gender_demographics.style.hide_index()


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
gender_group=purchase_data.groupby(["Gender"])
gender_group.head()
gender_group["Purchase ID"].count()
gender_group["Price"].mean()
#gender_group["Purchase ID"].count()
#gender_group["Gender"].count()

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [14]:

purchase_analysis_gender=pd.DataFrame()


purchase_analysis_gender["Purchase Count"]=gender_group["Purchase ID"].count()

Total_purchase=gender_group["Price"].sum()
purchase_analysis_gender["Average Purchase Price"]=(gender_group["Price"].mean()).map("${:.2f}".format)
purchase_analysis_gender["Total Purchase Value"]=(gender_group["Price"].sum()).map("${:.2f}".format)
purchase_analysis_gender["Avg Total Purchase per Person"]=(Total_purchase/gender_group_unique["Gender"].count()).map("${:.2f}".format)

#purchase_analysis_gender=purchase_analysis_gender.rename(columns={"Purchase ID": "Purchase Count"})
#purchase_analysis_gender
#Total_purchase=gender_group["Price"].sum()
#purchase_analysis_gender["Average Purchase Price"]=(Total_purchase/gender_group["Purchase ID"].count()).map("${:.2f}".format)
#purchase_analysis_gender["Total Purchase Value"]=(Total_purchase).map("${:.2f}".format)
#purchase_analysis_gender["Avg Total Purchase per Person"]=(Total_purchase/gender_group["Gender"].count()).map("${:.2f}".format)
purchase_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame